@charset "utf-8";
/* 
 * CSS Document 
 * $Web: 作品集$
 * $Author: Tina Lan $
 * $Date: 2015-01-31(六)$
 */

/* 寬度1280px-1649px時 */
@media only screen and (min-width: 1280px) and (max-width: 1649px)
{	
#logo { margin:20px 0 0 30px;}
/*內頁*/
/*頁面基本設定*/

#pImage, #pGraphic, #pWeb, #pElse{width:1280px;}

/*左邊作品說明*/
.pLeft{width:325px; height:540px; margin-left:30px;}

/*作品相簿*/
.viewRight{width:775px; margin-right:50px;}
.profileSlideWrap { width:700px;}
.imgWrap { width:775px; height:700px;}

/* 外框 */
#bannerWrap {  width:775px; height:700px;}

/* 大圖 */
#bannerWrap .main-slider-content {width:775px; height:700px;}
#bannerWrap .sliders-wrap-inner {width:775px; height:700px;}
#bannerWrap .sliders-wrap-inner li {height:700px;}
#bannerWrap .sliders-wrap-inner li img {width:775px; height:700px;}

/* 小圖 */
#bannerWrap .navigator-content {bottom:40px; left:-435px;}

/* 按鈕 */
.imgWrap .button-next, .imgWrap .button-previous{left:-415px; bottom:135px;}
.imgWrap .button-previous{ left:-435px;}

/*返回列表*/
.btnBack{ width:115px; height:25px; text-align:center; z-index:50; position: relative; padding-top:5px; float:left; bottom:-130px; left:20px;}
}