@charset "utf-8";
/* 
 * CSS Document 
 * $Web: 作品集$
 * $Author: Tina Lan $
 * $Date: 2015-01-31(六)$
 */
body{ margin: 0; padding: 0; color: #333; font-size: 13px; font-family: '微軟正黑體', Arial,;}
img {border: 0;text-decoration: none;}
a{ text-decoration:none;}
.clearBoth { height: 0; font-size: 0; overflow: hidden; line-height: 0; clear: both;}
#content { width: 100%; min-width: 1050px; padding-top: 85px;}
.displayNone { display: none;}

/*Header*/
header#iheader, header#pheader{ width: 100%; min-width: 1050px; margin: 0 auto; position: fixed; top: 0; height: 75px; z-index: 999; background:url(../images/ibk.gif) repeat-x bottom; background-color:#fff; opacity:0.9;-moz-opacity:0.9;-khtml-opacity: 0.9; filter:alpha(opacity=90);}
header#pheader{ opacity:1;-moz-opacity:1;-khtml-opacity: 1; filter:alpha(opacity=100);}
#logo { margin: 20px 0 0 50px; padding: 0; float: left; width: 240px; height: 40px; overflow: hidden;}
#menuRight { float: right; width: 640px; height: 75px; overflow: hidden;}
nav { width: 640px; overflow: hidden; margin-top:15px;}
nav ul#menu, nav li { margin: 0; padding: 0; list-style: none;}
nav li { float: left; height: 60px; overflow: hidden;  margin-left:10px;}
nav li a { height: 60px; overflow: hidden; display: block;  position: relative; z-index: 5;}
nav li span { position: relative; z-index: 5;}
nav ul li.backLava { position: absolute; z-index:3; background: url(../images/mhover.gif) center bottom no-repeat;}
nav li.m1{background:url(../images/menu1.png) center 3px no-repeat; width: 50px;}
nav li.m2{background:url(../images/menu2.png) center 3px no-repeat; width: 110px;}
nav li.m3{background:url(../images/menu3.png) center 3px no-repeat; width: 125px;}
nav li.m4{background:url(../images/menu4.png) center 3px no-repeat; width: 95px;}
nav li.m5{background:url(../images/menu5.png) center 3px no-repeat; width: 95px;}
nav li.m6{background:url(../images/menu6.png) center 3px no-repeat; width: 79px;}

/* 首頁瀑布流 */
#indexMain { margin: 0 auto; position: relative; width: 99%; min-width: 1050px; }
.blueitem { width: 100%; overflow: hidden; margin: 0 auto; text-align: center; cursor: pointer; border:#dedede solid 1px; padding:6px;}
.blueitem img { width: 100%; height: auto; display: block; position: relative;}
.blueitem .mask { width: 100%; height: 100%; vertical-align: middle; position: absolute; overflow: hidden; top: 0; right: 100%;}
.blueitem h2 { text-transform: uppercase; color: #fff; position: relative; font-size: 16px; padding:5px; background: #222; margin: 20px 0 10px 0}
.blueitem p { font-family:  'calibri', '微軟正黑體', Arial; font-size: 15px; position: relative; color: #fff; padding:0 20px 10px;}

/* 文字+按鈕 */
.blueitem a.info { display: inline-block; text-decoration: none; padding: 5px 15px; color: #fff; background: #444; text-transform: uppercase; font-size: 13px;}
.blueitem a.info:hover { box-shadow: 0 0 5px #000; background: #444;}
.blueitem-portfolio .mask { -o-transition:2s; -ms-transition:2s; -moz-transition:2s; -webkit-transition:2s; transition:2s;}
.blueitem-portfolio .mask:hover { background-color: #000; -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=80)"; filter: alpha(opacity=80); opacity: 0.8;}	
.blueitem-portfolio .mask table { width: 100%; height: 100%;} 
.blueitem-portfolio .mask tr { vertical-align: middle;}
.blueitem-portfolio h2 { background: none; color: #fff;}
.blueitem-portfolio p,.blueitem-portfolio h2 { -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)"; filter: alpha(opacity=0); opacity: 0; color: #FFF;}
.blueitem-portfolio:hover .mask { left: 0; -webkit-transition: all 0.5s ease-in-out; -moz-transition: all 0.5s ease-in-out; -o-transition: all 0.5s ease-in-out; -ms-transition: all 0.5s ease-in-out; transition: all 0.5s ease-in-out;}
.blueitem-portfolio:hover img { margin: 0;}
.blueitem-portfolio:hover p,.blueitem-portfolio:hover h2,.blueitem:hover a.info { -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)"; filter: alpha(opacity=100); opacity: 1; -webkit-transition: all 1s linear; -moz-transition: all 1s linear; -o-transition: all 1s linear; -ms-transition: all 1s linear; transition: all 1s linear;}
.blueitem-portfolio:hover .mask { -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=80)"; filter: alpha(opacity=80); opacity: 0.8; }


/* 寬度小於1920時 */
@media only screen and (min-width: 1681px) and (max-width: 1920px) {
	.blueitem { width: 14.5%;}
    .blueitem.w2 { width: 30.9%;}
	.blueitem.pd { margin: 20px 15px 5px 7px;}
}

/* 寬度小於1680時 */
@media only screen and (min-width: 1501px) and (max-width: 1680px) {
	.blueitem { width: 17.5%;}
    .blueitem.w2 { width: 37%;}
	.blueitem.pd { margin: 20px 15px 5px 7px;}
}

/* 寬度小於1350時 */
@media only screen and (min-width: 1367px) and (max-width: 1500px) {
	#indexMain { margin-left: 13px;}
	.blueitem { width: 17.1%;}
    .blueitem.w2 { width: 36.5%;}
	.blueitem.pd { margin: 18px 14px 3px 6px;}
}

/* 寬度小於1366時 */
@media only screen and (min-width: 1281px) and (max-width: 1366px) {
	#indexMain { margin-left: 13px;}
	.blueitem { width: 17.2%;}
    .blueitem.w2 { width: 36.7%;}
	.blueitem.pd { margin: 18px 14px 3px 6px;}
}

/* 寬度小於1280時 */
@media only screen and (min-width: 1025px) and (max-width: 1280px) {
	#indexMain { margin-left: 13px;}
	.blueitem { width: 21.3%;}
    .blueitem.w2 { width: 45.4%;}
	.blueitem.pd { margin: 20px 10px 0 12px;}
	#logo { margin:20px 0 0 30px;}
}

/* 寬度小於1024時 */
@media only screen and (max-width: 1024px) {
	#indexMain { width: 980px; min-width: 980px; margin-left: 13px;}
	.blueitem { width: 30%;}
    .blueitem.w2 { width: 63.1%;}
	.blueitem.pd { margin: 8px 7px 8px 9px;}
	#logo { margin:20px 0 0 30px;}
}

/*Footer*/
footer#ifooter{ width: 100%; min-width: 1050px; margin: 0 auto; height: 30px; z-index: 500; background-color:#444; color: #eee; text-align:center; font-size:12px; padding-top:12px; margin-top:30px;}
footer#footer a, footer#ifooter a{ font-size:12px; color:#eee; text-decoration:none;}
footer#footer a:hover, footer#ifooter a:hover{ font-size:12px; color:#aaa; text-decoration:none;}

/*內頁*/
/*頁面基本設定*/
#pMain{width:100%; margin:0 auto; padding:0; overflow:hidden; min-width:1050px;}
#pImage, #pGraphic, #pWeb, #pElse{width:1050px; height:803px; overflow:hidden; margin:75px auto 0; padding-top:35px; position: relative; background:url(../images/ibk.gif) repeat-y 380px;}
#image , #image a, #image a:hover{ color:#eb6877;}
#graphic ,#graphic a, #graphic a:hover{ color:#f8b551;}
#web,#web a, #web a:hover{ color:#13b5b1;}
#else, #else a{ color:#8957a1;}
#else a:hover{ color:#6a005f;}
#designer, #designer a:hover{ color:#448aca;}
.lPd{ padding-left:10px; padding-right:5px;}

/*左邊作品說明*/
.pLeft{width:330px; height:390px; margin-left:30px; overflow:hidden; float:left; background:url(../images/ibk.gif) bottom repeat-x;}
.pTitle{ line-height:15px; font-size:13px; font-family:'calibri';}
.pNameCh{overflow:hidden; font-size:20px; line-height:25px; font-weight:bold; letter-spacing:1px;}
.pNameEn{overflow:hidden; font-size:15px; line-height:25px; font-family: "Times New Roman", Times, serif; color:#777; padding-bottom:10px; background:url(../images/ibk.gif) bottom repeat-x;}
.pInfo, .pinfo span {overflow:hidden; line-height:22px; margin-top:15px;text-align:left; padding-bottom:10px; background:url(../images/ibk.gif) bottom repeat-x;}
.pinfo span {margin-top:0; padding-bottom:0; background:none;}
.pinfo .engTxt{font-size:12px; line-height:15px; margin-top:0px; text-align:justify; word-break:break-all;}
.pElseInfo{margin-top:10px; line-height:25px; letter-spacing:1px;}
.viewPic{overflow:hidden; vertical-align:middle;}

/*作品相簿*/
.viewRight{width:610px; margin-right:30px; float:right;}
.profileSlideWrap { width:610px;}
.imgWrap { position:relative; width:610px; height:552px;}

/* 外框 */
#bannerWrap { position:relative; width:610px; height:552px;}
#bannerWrap a:focus { outline:none;} /* Firefox, Google */

/* 讀取 */
#bannerWrap .preload { position:absolute; top:0; left:0; width:100%; height:100%; overflow:hidden; text-align:center; background-color:#fff; z-index:5;}
#bannerWrap .preload div { width:100%; height:100%; overflow:hidden; background:url(../images/loading.gif) 50% 50% no-repeat;}

/* 大圖 */
#bannerWrap .main-slider-content { position:relative; margin:0; padding:0; width:610px; height:552px; overflow:hidden;}
#bannerWrap .sliders-wrap-inner { margin:0; padding:0; position:absolute; width:610px; height:552px; overflow:hidden; list-style:none;}
#bannerWrap .sliders-wrap-inner li { float:left; position:relative; margin:0; padding:0; height:552px; overflow:hidden;}
#bannerWrap .sliders-wrap-inner li img { padding:0; width:610px; height:552px;}

/* 小圖 */
#bannerWrap .navigator-content { position:absolute; bottom:43px; left:-380px; width:330px; height:80px; overflow:hidden; background:url(../images/ibk.gif) bottom repeat-x; padding-bottom:2px;}
#bannerWrap .navigator-wrapper { position:relative; top:0; left:0; width:325px; height:68px; overflow:hidden; z-index:5;}
#bannerWrap ul.navigator-wrap-inner { position:absolute; top:0; left:0; margin:0; padding:0; width:100%; list-style:none;}
#bannerWrap ul.navigator-wrap-inner li { float:left; width:75px; height:68px; overflow:hidden; cursor:pointer; background-color:#fff;}
#bannerWrap ul.navigator-wrap-inner li img{ padding:0; width:75; height:68px;}

/* 按鈕 */
.imgWrap .button-next, .imgWrap .button-previous{ display:block; position:absolute; left:-360px;  bottom:135px; width:15px; height:15px; overflow:hidden; text-indent:-9999px; z-index:5; cursor:pointer;}
.imgWrap .button-previous{ left:-380px;}
.imgWrap .button-control { float:left;}

#pImage .button-next {background: url(../images/imNext.gif) 0 0 no-repeat;}
#pImage .button-next:hover {background: url(../images/imNextHover.gif) 0 0 no-repeat;}
#pImage .button-previous {background:url(../images/imPrev.gif) 0 0 no-repeat;}
#pImage .button-previous:hover { background:url(../images/imPrevHover.gif) 0 0 no-repeat;}

#pGraphic .button-next {background: url(../images/grNext.gif) 0 0 no-repeat;}
#pGraphic .button-next:hover {background: url(../images/grNextHover.gif) 0 0 no-repeat;}
#pGraphic .button-previous {  background:url(../images/grPrev.gif) 0 0 no-repeat;}
#pGraphic .button-previous:hover {  background:url(../images/grPrevHover.gif) 0 0 no-repeat;}

#pElse .button-next {;background: url(../images/elNext.gif) 0 0 no-repeat;}
#pElse .button-next:hover {background: url(../images/elNextHover.gif) 0 0 no-repeat;}
#pElse .button-previous {  background:url(../images/elPrev.gif) 0 0 no-repeat;}
#pElse .button-previous:hover { background:url(../images/elPrevHover.gif) 0 0 no-repeat;}

#pWeb .button-next {background: url(../images/webNext.gif) 0 0 no-repeat;}
#pWeb .button-next:hover {background: url(../images/webNextHover.gif) 0 0 no-repeat;}
#pWeb .button-previous {  background:url(../images/webPrev.gif) 0 0 no-repeat;}
#pWeb .button-previous:hover {  background:url(../images/webPrevHover.gif) 0 0 no-repeat;}

/*返回列表*/
.btnBack{ width:115px; height:25px; text-align:center; z-index:50; position: relative; padding-top:5px; float:left; bottom:-130px; left:30px;}
#pImage .btnBack{ background-color:#c10016; ;} 
#pImage .btnBack a{ color:#FFF;}
#pImage .btnBack:hover {background-color:#eb6877;}

#pGraphic .btnBack{background-color:#ac6a00;} 
#pGraphic .btnBack a{ color:#FFF;}
#pGraphic .btnBack:hover {background-color:#f8b551;}

#pElse .btnBack{ background-color:#6a005f;} 
#pElse .btnBack a{ color:#FFF;}
#pElse .btnBack:hover {background-color:#8957a1;}

#pWeb .btnBack{ background-color:#6a005f;} 
#pWeb .btnBack a{ color:#FFF;}
#pWeb .btnBack:hover {background-color:#13b5b1;}

/* 高度大於880時 */
@media only screen and (min-height: 880px){
    #pImage, #pGraphic, #pWeb, #pElse{height:805px;}
	footer#footer{ width: 100%; min-width: 1050px; margin: 0 auto; height: 30px; z-index: 500; background-color:#444; color: #eee; text-align:center; font-size:12px; padding-top:12px; position:fixed; bottom:0;}
}
/* 高度小於880時 */
@media only screen and (max-height: 880px) {
	#pImage, #pGraphic, #pWeb, #pElse{height:750px;}
    footer#footer{ width: 100%; min-width: 1050px; margin: 0 auto; height: 30px; z-index: 500; background-color:#444; color: #eee; text-align:center; font-size:12px; padding-top:12px;}
}