@charset "utf-8";
/* 
 * CSS Document 
 * $Web: Tina's Profile$
 * $Author: Tina Lam $
 * $Date: 2014-12-11(四)$
 */

img { border: 0;}
body{ margin:0; padding:0;}

/*主選單*/
#Header{
	margin:0;
	padding:0;
	width:100%;
	height:102px;
	overflow:hidden;
	min-width:1000px;
	background:url(../images/bg_up.png) repeat-x bottom;
	position: fixed;
	z-index:10;
}
#Header .bg{
	height:90px;
	/*background: url(../images/ibg.jpg) top left repeat-x;*/
	background-color:#FFF;
	overflow:hidden;
}
.iMenu{
	width:730px;
	height:90px;
	margin:0 auto;
	padding:0;
	overflow:hidden;
}
.iMenu ul{
	list-style:none;
	margin:0;
	padding:0;
}
.iMenu ul li{
	width:100px;
	height:70px;
	margin:0 23px;
	overflow:hidden;
	float:left;
}
.iMenu ul li a{
	width:100px;
	height:70px;
	display:block;
	overflow:hidden;	
}
.iMenu ul li.m1 a{background:url(../images/menu01.png)}
.iMenu ul li.m2 a{background:url(../images/menu02.png)}
.iMenu ul li.m3 a{background:url(../images/menu03.png)}
.iMenu ul li.m4 a{background:url(../images/menu04.png)}
.iMenu ul li.m5 a{background:url(../images/menu05.png)}
.iMenu ul li a:hover{ background-position:0 70px;}

/*頁面基本設定*/
#iMain, #pMin{
	width:100%;
	margin:0;
	padding:0;
	overflow:hidden;
	min-width:1000px;
}
/*首頁*/
#iMainFirst{background:url(../images/i_bk.jpg) top left;}
#iMainImage{background-color:#f36279; width:100%;margin:0;
	padding:0;
	overflow:hidden;
	min-width:1000px;}
#iMainGraphic{background-color:#ffc658;}
#iMainWeb{background-color:#3cbfae;}
#iMainElse{background-color:#ae5da1;}

.main{
	width:1000px;
	overflow:hidden;
	margin:0 auto;
	padding:140px 0px 0px 0px;
}

#iMainFirst .title{width:200px; height:1040px; margin:0 auto; overflow:hidden;}
#iMainImage .title{width:200px; height:65px; margin:0 auto; overflow:hidden; background:url(../images/imagesTitle.png) center no-repeat;}
#iMainGraphic .title{width:200px; height:65px; margin:0 auto; overflow:hidden; background:url(../images/graphicTitle.png) center no-repeat;}
#iMainWeb .title{width:200px; height:65px; margin:0 auto; overflow:hidden; background:url(../images/webTitle.png) center no-repeat;}
#iMainElse .title{width:200px; height:65px; margin:0 auto; overflow:hidden; background:url(../images/elseTitle.png) center no-repeat;}

.List{
	width:840px;
	margin:30px auto 0px;
	padding:0;
	overflow:hidden;
}
.List ul{
	list-style:none;
}
.List ul li{
	width:250px;
	height:172px;
	background-color:#FFF;
	margin:0 16px 16px 0;
	overflow:hidden;
	position:relative;
	float:left;
}
.List ul li img{
	overflow: hidden;
}

#iMainImage .List ul li .name { background: url(../images/imageCover.png); width: 250px; height: 172px; overflow: hidden; position: absolute; top: 0; left: 0; display: none; z-index: 5;}
#iMainGraphic .List ul li .name { background: url(../images/graphicCover.png); width: 250px; height: 172px; overflow: hidden; position: absolute; top: 0; left: 0; display: none; z-index: 5;}
#iMainWeb .List ul li .name { background: url(../images/webCover.png); width: 250px; height: 172px; overflow: hidden; position: absolute; top: 0; left: 0; display: none; z-index: 5;}
#iMainElse .List ul li .name { background: url(../images/elseCover.png); width: 250px; height: 172px; overflow: hidden; position: absolute; top: 0; left: 0; display: none; z-index: 5;}

.List ul li .name a { 
	display:block; 
	width: 250px; 
	height: 35px; 
	text-align:center; 
	padding:45px 0 85px 0; 
	line-height:21px; 
	overflow: hidden; 
	color: #fff; 
	font-size: 15px;
	text-decoration:none;
}

/*內頁*/
#pImage, #pGraphic, #pWeb, #pElse{
	width:1000px;
	overflow:hidden;
	margin:0 auto;
	padding:140px 0 50px;
	min-width:1000px;
}
.titleBox{
	width:1000px;
	overflow:hidden;
	margin:0;
	padding:0;
}
#pImage .title{	height:60px; background:url(../images/imagePtitle.png) left no-repeat; margin-bottom:20px; margin-left:20px;}
#pGraphic .title{	height:60px; background:url(../images/graphicPtitle.png) left no-repeat; margin-bottom:20px; margin-left:20px;}
#pElse .title{	height:60px; background:url(../images/elsePtitle.png) left no-repeat; margin-bottom:20px; margin-left:20px;}
#pWeb .title{	height:60px; background:url(../images/webPtitle.png) left no-repeat; margin-bottom:20px; margin-left:20px;}
.mainBox{
	width:1000px;
	overflow:hidden;
	margin:0;
	padding:0;
}

/*左邊作品說明*/
.viewLeft{
	width:345px;
	height:410px;
	margin-left:45px;
	padding-top:20px;
	overflow:hidden;
	float:left;
	background: url(../images/viewLeftBg.gif) bottom repeat-x;
}
.viewNameCh{
	width:100%;
	height:26px;
	overflow:hidden;
	font-size:21px;
	line-height:26px;
	font-family:'微軟正黑體', Arial;
	font-weight:bold;
	color:#222;
	letter-spacing:2px;
}
.viewNameEn{
	width:100%;
	height:22px;
	overflow:hidden;
	font-size:15px;
	line-height:22px;
	font-family:"Arial", Times, serif, Arial;
	color:#555;
}
.viewInfo{
	width:100%;
	overflow:hidden;
	font-size:13px;
	line-height:22px;
	margin-top:15px;
	font-family:'微軟正黑體', Arial;
	color:#000;
	letter-spacing:1px;
	text-align:left;
}
.viewInfo span{
	font-size:12px;
	line-height:15px;
	margin-top:0px;
	font-family:'微軟正黑體', Arial;
	color:#000;
	letter-spacing:0px;
	text-align: justify;
	word-break:break-all;
}
#pElse .viewInfo a{
	font-size:13px;
	font-family:'微軟正黑體', Arial;
	color:#ae5da1;
	text-decoration:none;
}
#pElse .viewInfo a:hover{
	font-size:13px;
	font-family:'微軟正黑體', Arial;
	color:#6a005f;
}
#pWeb .viewInfo a{
	font-size:13px;
	font-family:'微軟正黑體', Arial;
	color:#13b5b1;
	text-decoration:none;
}
#pWeb .viewInfo a:hover{
	font-size:13px;
	font-family:'微軟正黑體', Arial;
	color:#00736d;
}
.viewDate{
	width:100%;
	height:25px;
	overflow:hidden;
	margin-top:20px;
	font-size:13px;
	line-height:25px;
	font-family:'微軟正黑體', Arial;
	color:#000;
	letter-spacing:1px;
	text-align:left;
}
.viewGame{
	width:100%;
	margin-top:0px;
	overflow:hidden;
	margin-top:0px;
	font-size:13px;
	line-height:25px;
	font-family:'微軟正黑體', Arial;
	color:#000;
	letter-spacing:1px;
	text-align:left;
}
.viewMate{
	width:100%;
	height:25px;
	overflow:hidden;
	font-size:13px;
	line-height:25px;
	font-family:'微軟正黑體', Arial;
	color:#000;
	letter-spacing:1px;
	text-align:left;
}
.viewPic{
	overflow:hidden;
	vertical-align:middle;
}


/*作品相簿*/
.viewRight{
	width:550px;
	margin-right:30px;
	padding-top:20px;
	float:right;
}
.profileSlideWrap { width:100%;}
.imgWrap { position:relative; width:100%;}

/* 外框 */
#bannerWrap { position:relative; width:100%;}
#bannerWrap a:focus { outline:none;} /* Firefox, Google */

/* 讀取 */
#bannerWrap .preload { position:absolute; top:0; left:0; width:100%; overflow:hidden; text-align:center; background-color:#fff; z-index:5;}
#bannerWrap .preload div { width:100%; overflow:hidden; background:url(../images/loading.gif) 50% 50% no-repeat;}
/* 大圖 */
#bannerWrap .main-slider-content { position:relative; margin:0; padding:0; width:100%;  overflow:hidden;}
#bannerWrap .sliders-wrap-inner { margin:0; padding:0; position:absolute; width:100%;  overflow:hidden; list-style:none;}
#bannerWrap .sliders-wrap-inner li { float:left; position:relative; margin:0; padding:0; height:100%; overflow:hidden;}
#bannerWrap .sliders-wrap-inner li img { padding:0;}

/* 小圖 */
#bannerWrap .navigator-content { position:absolute; bottom:0; left:-374px; width:345px; height:70px; overflow:hidden;}
#bannerWrap .navigator-wrapper { position:relative; top:0; left:0; width:345px; height:70px; overflow:hidden; z-index:5;}
#bannerWrap ul.navigator-wrap-inner { position:absolute; top:0; left:0; margin:0; padding:0; width:100%; list-style:none;}
#bannerWrap ul.navigator-wrap-inner li { float:left; width:75px; height:70px; overflow:hidden; cursor:pointer;}

/* 按鈕 */
.imgWrap .button-next, .imgWrap .button-previous { display:block; position:absolute; bottom:80px; width:15px; height:15px; overflow:hidden; text-indent:-9999px; z-index:5; cursor:pointer;}
#pImage .imgWrap .button-next {left: -354px;background: url(../images/imNext.gif) 0 0 no-repeat;}
#pImage .imgWrap .button-next:hover {left: -354px;background: url(../images/imNextHover.gif) 0 0 no-repeat;}
#pImage .imgWrap .button-previous { left:-374px; background:url(../images/imPrev.gif) 0 0 no-repeat;}
#pImage .imgWrap .button-previous:hover { left:-374px; background:url(../images/imPrevHover.gif) 0 0 no-repeat;}
#pGraphic .imgWrap .button-next {left: -354px;background: url(../images/grNext.gif) 0 0 no-repeat;}
#pGraphic .imgWrap .button-next:hover {left: -354px;background: url(../images/grNextHover.gif) 0 0 no-repeat;}
#pGraphic .imgWrap .button-previous { left:-374px; background:url(../images/grPrev.gif) 0 0 no-repeat;}
#pGraphic .imgWrap .button-previous:hover { left:-374px; background:url(../images/grPrevHover.gif) 0 0 no-repeat;}
#pElse .imgWrap .button-next {left: -354px;background: url(../images/elNext.gif) 0 0 no-repeat;}
#pElse .imgWrap .button-next:hover {left: -354px;background: url(../images/elNextHover.gif) 0 0 no-repeat;}
#pElse .imgWrap .button-previous { left:-374px; background:url(../images/elPrev.gif) 0 0 no-repeat;}
#pElse .imgWrap .button-previous:hover { left:-374px; background:url(../images/elPrevHover.gif) 0 0 no-repeat;}
#pWeb .imgWrap .button-next {left: -354px;background: url(../images/webNext.gif) 0 0 no-repeat;}
#pWeb .imgWrap .button-next:hover {left: -354px;background: url(../images/webNextHover.gif) 0 0 no-repeat;}
#pWeb .imgWrap .button-previous { left:-374px; background:url(../images/webPrev.gif) 0 0 no-repeat;}
#pWeb .imgWrap .button-previous:hover { left:-374px; background:url(../images/webPrevHover.gif) 0 0 no-repeat;}
.imgWrap .button-control { float:left;}


/*buttom*/
.buttomBox{
	width:1000px;
	float:right;
	padding:30px 0 0 0;
	margin:0;
}
/*形象設計按鈕設定*/
#pImage .buttomBack{
	width:110px;
	height:30px;
	font:'微軟正黑體', Arial;
	font-size:13px;
	color:#FFF;
	background-color:#c10016;
	line-height:30px;
	text-align:center;
	float:right;
	margin-left:5px;
}
#pImage .buttomBack a{
	font:'微軟正黑體', Arial;
	font-size:13px;
	color:#FFF;
	text-decoration:none;
}
#pImage .buttomBack:hover{
	background-color:#eb6877;
}
#pImage .buttomPrev, #pImage .buttomNext{
	width:95px;
	height:30px;
	font:'微軟正黑體', Arial;
	font-size:13px;
	color:#FFF;
	background-color:#c10016;
	line-height:30px;
	text-align:center;
	float:right;
	margin-left:5px;
}
#pImage .buttomPrev a, #pImage .buttomNext a{
	font:'微軟正黑體', Arial;
	font-size:13px;
	color:#FFF;
	text-decoration:none;
}
#pImage .buttomPrev:hover, #pImage .buttomNext:hover{
	background-color:#eb6877;
}
/*平面設計按鈕設定*/
#pGraphic .buttomBack{
	width:110px;
	height:30px;
	font:'微軟正黑體', Arial;
	font-size:13px;
	color:#FFF;
	background-color:#ac6a00;
	line-height:30px;
	text-align:center;
	float:right;
	margin-left:5px;
}
#pGraphic .buttomBack a{
	font:'微軟正黑體', Arial;
	font-size:13px;
	color:#FFF;
	text-decoration:none;
}
#pGraphic .buttomBack:hover{
	background-color:#f8b551;
}
#pGraphic .buttomPrev, #pGraphic .buttomNext{
	width:95px;
	height:30px;
	font:'微軟正黑體', Arial;
	font-size:13px;
	color:#FFF;
	background-color:#ac6a00;
	line-height:30px;
	text-align:center;
	float:right;
	margin-left:5px;
}
#pGraphic .buttomPrev a, #pGraphic .buttomNext a{
	font:'微軟正黑體', Arial;
	font-size:13px;
	color:#FFF;
	text-decoration:none;
}
#pGraphic .buttomPrev:hover, #pGraphic .buttomNext:hover{
	background-color:#f8b551;
}
/*其他作品按鈕設定*/
#pElse .buttomBack{
	width:110px;
	height:30px;
	font:'微軟正黑體', Arial;
	font-size:13px;
	color:#FFF;
	background-color:#6a005f;
	line-height:30px;
	text-align:center;
	float:right;
	margin-left:5px;
}
#pElse .buttomBack a{
	font:'微軟正黑體', Arial;
	font-size:13px;
	color:#FFF;
	text-decoration:none;
}
#pElse .buttomBack:hover{
	background-color:#ae5da1;
}
#pElse .buttomPrev, #pElse .buttomNext{
	width:95px;
	height:30px;
	font:'微軟正黑體', Arial;
	font-size:13px;
	color:#FFF;
	background-color:#6a005f;
	line-height:30px;
	text-align:center;
	float:right;
	margin-left:5px;
}
#pElse .buttomPrev a, #pElse .buttomNext a{
	font:'微軟正黑體', Arial;
	font-size:13px;
	color:#FFF;
	text-decoration:none;
}
#pElse .buttomPrev:hover, #pElse .buttomNext:hover{
	background-color:#ae5da1;
}

/*網頁設計按鈕設定*/
#pWeb .buttomBack{
	width:110px;
	height:30px;
	font:'微軟正黑體', Arial;
	font-size:13px;
	color:#FFF;
	background-color:#00736d;
	line-height:30px;
	text-align:center;
	float:right;
	margin-left:5px;
}
#pWeb .buttomBack a{
	font:'微軟正黑體', Arial;
	font-size:13px;
	color:#FFF;
	text-decoration:none;
}
#pWeb .buttomBack:hover{
	background-color:#13b5b1;
}
#pWeb .buttomPrev, #pWeb .buttomNext{
	width:95px;
	height:30px;
	font:'微軟正黑體', Arial;
	font-size:13px;
	color:#FFF;
	background-color:#00736d;
	line-height:30px;
	text-align:center;
	float:right;
	margin-left:5px;
}
#pWeb .buttomPrev a, #pWeb .buttomNext a{
	font:'微軟正黑體', Arial;
	font-size:13px;
	color:#FFF;
	text-decoration:none;
}
#pWeb .buttomPrev:hover, #pWeb .buttomNext:hover{
	background-color:#13b5b1;
}

/*頁尾*/
#Footer{
	width:100%;
	height:67px;
	margin:0;
	padding:0;
	overflow:hidden;
	min-width:1000px;
	position: fixed;
	z-index:10;
	bottom:0;
	background:url(../images/bg_down.png) repeat-x top;
}
#Footer .bg{
	width:100%;
	background-color:#FFF;
}
#FooterP{
	width:100%;
	height:67px;
	margin:0;
	padding:0;
	overflow:hidden;
	min-width:1000px;
	bottom:0;
	background:url(../images/bg_down.png) repeat-x top;
}
#FooterP .bg{
	width:100%;
	background-color:#FFF;
}
.iFooter{
	width:1000px;
	height:55px;
	margin:12px auto 0;
	padding:0;
	font-family:Arial, Helvetica, sans-serif;
	color:#777;
	line-height:55px;
	text-align:center;
	font-size:12px;	
}
	




	

	
	
	
