/*共用設定*/
*{ margin: 0; padding: 0;}
body,html{height: 100%; background-color: #fff;}
button:focus{outline:none;}
/*header*/
/*header {background-color:#fff; min-height: 100%; width: 100%;}*/

/*Nav導覽列*/
.navbar{padding: 0 1rem; background-color: rgba(255, 255, 255, 0.9); border-bottom: #ddd solid 1px;}
#navPoint {width: 100px; height: 4px; background-color: #b1b1b1; position: absolute; left:-100px; bottom:0px; opacity: 1;}
.navbar-brand{ margin-left:2rem;}
.navbar-nav{ margin-right: 1rem;}
.navbar-toggler{margin: 0.7rem;}
.navbar-collapse{justify-content: flex-end;}
.navbar-expand-lg .navbar-nav .nav-link{ padding-left:.8rem; padding-right:.8rem;}
.navbar-brand{ padding: 0;}
.nav-link{ padding: 1.8rem .5rem 0.6rem; font-family: 'Archivo', sans-serif; font-weight: bold; font-size: 0.9rem;}
.navbar-nav li>div{ 
    background-color: transparent; width: 0%; height: 3px; box-sizing: border-box; margin:0 auto;
    transition-property:background-color,width;
    transition-duration:0.2s;
}
@media (max-width: 991px){
    .navbar-light .navbar-toggler{ border: none; padding: .4rem .75rem .1rem; margin-right: 0rem;}
    .navbar-brand{ margin-left:0rem;}
    .navbar-nav{padding-bottom: 1rem}
    .navbar-expand-lg .navbar-nav .nav-link {padding: .5rem 0 .5rem .5rem;}
    .navbar-nav li>div{ display: none;}
    #navPoint{ display: none;}
    .navbar{background-color: #fff;}
}
/*List列表頁*/
.wrapper, .workWrapper { min-height: 100%; width: 100%; padding-top: 90px; padding-bottom: 50px; background: #fff;}
.container-fluid{overflow: hidden; padding-right: 30px; padding-left: 30px;}
.col-xl-3, .col-md-4, .col-sm-6, .col-12{ padding-right: 10px; padding-left: 10px; padding-bottom: 20px;}
.masonry .item a{ padding: 0px; /*border:1px solid #eee;*/ display: block; position: relative; color: #484848;}
.masonry .item .cover{ display:flex; justify-content:center; align-items:center; text-align:center; background-color:rgba(0, 0, 0, 0.8); width: 100%; height: 100%; position: absolute; top:0; left:0; color: #fff; opacity:0; transition: opacity 0.5s;}
.masonry .item a:hover .cover{ opacity: 1;}
.masonry .item .cover p{ margin: 0; color: #fff;}
.masonry .item .cover span{ font-size: 14px;}
@media (max-width: 991px){
    .masonry .item .cover{ justify-content:left; background-color:transparent; height: 36px; top:inherit; bottom:-36px; opacity:1; transition: none;}
    .masonry .item .cover p{color: #484848;  font-family: font-family:'Arial','Microsoft JhengHei', 'Noto Sans TC', sans-serif; font-size: .8rem; font-weight: 400;}
    .masonry .item .cover span{ display: none;}
    .masonry .item{ padding-bottom: 60px;}
    .workWrapper{padding-bottom: 0px;}
}
@media (max-width: 767px){
    .container-fluid{padding-right: 20px; padding-left: 20px;}
}
/*作品介紹頁*/
/*麵包屑*/
.breadcrumb{ background-color: #fff; padding: .75rem 4rem; font-size: 0.9rem;}
.breadcrumb-item a{color:#555;}
.active{ font-family: 'Noto Sans TC', sans-serif;}
/*作品內容*/
.workWrapper .container-fluid{padding-right: 1.5rem; padding-left: 4rem; font-family:'Arial','Microsoft JhengHei', 'Noto Sans TC', sans-serif;}
.workWrapper .container-fluid h2{font-family:'Noto Sans TC', sans-serif;}
.workWrapper .container-fluid .txtArea{padding: 0 4rem 0 1rem;}
.workWrapper .container-fluid h6{ color: #999; margin-bottom: 1rem;}
.workWrapper .container-fluid p{font-weight: normal; font-size: 1rem; color:#333333; line-height: 1.6rem; margin-bottom: 1.8rem; text-align: justify;}
.workWrapper .txtArea .makeDate{margin: 0; color: #999; font-size: 1rem; font-weight: normal;}
.carousel-control-next, .carousel-control-prev{ width: 10%; opacity: 0.5;}
.carousel-indicators{bottom:5px;}
.carousel-control-next-icon {background-image: url(../images/color_next.png);}
.carousel-control-prev-icon {background-image: url(../images/color_prev.png);}
.carousel-control-next-icon, .carousel-control-prev-icon{ width: 30px; height: 50px;}
@media (max-width: 991px){
    .breadcrumb{ padding: 0 1rem .75rem 1rem; margin-bottom: 0rem;} 
    .workWrapper .container-fluid{padding-right: 0rem; padding-left: 0rem; padding-bottom: 5rem;}
    .workWrapper .container-fluid .txtArea{padding: .5rem 2rem 0 2rem;}
    .workWrapper .container-fluid h2{ font-size: 1.6rem}
}


/*bxSilder*/
.bx-wrapper{ border: none; box-shadow:none; margin-bottom: 0;}


/*Footer頁尾*/
footer { background-color: #444; position: fixed; bottom: 0%;}
footer p{padding: 0.8rem 1rem; color: white; margin: 0; text-align: center; font-size: 14px;}
@media (max-width: 576px){
    footer { background-color: #444; position: static;}
    footer p{padding: 0.8rem 1.5rem; color: white; margin: 0; text-align: center; font-size: 12px;}

}

/*測試用*/

